body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cartHeader {
  list-style: none;
  justify-content: space-between;
  display: flex;
  align-items: flex-end;
}
.cartHr {
  background-color: black;
}
.cartDiv{
  border: 1rem 0;
}
.cartList{
  border-bottom: .1rem #c0c0c0 solid;
}